nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.277);
}

.nav-link {
  margin-right: 10px;
  font: normal bold 1rem/1.2 sans-serif;
}

.nav-link:hover {
  padding: auto 10px;
  border: 2px solid #000;
  border-radius: 20px;
}

.nav-link svg {
  margin-right: 5px;
}
